{% extends 'base.html' %}{% load static %}{%block title%} viewrecipe
{%endblock%}{%block content%}

<div class="container-fluid p-0">
  <div class="row g-0 min-vh-100">
    <div class="col-md-6 recipe-image-container">
      <img
        src="{{ recipes.recipe_img.url }}"
        class="recipe-image"
        alt="{{ recipes.recipe_name }}"
      />
    </div>
    <div
      class="col-md-6 d-flex flex-column justify-content-center bg-dark text-warning p-4"
    >
      <h1 class="display-6 mb-2">{{ recipes.recipe_name }}</h1>
      <hr class="my-4" />
      <h3 class="h4 mb-3">Ingredients</h3>
      <p class="lead mb-4">{{ recipes.ingredients }}</p>
      <h3 class="h4 mb-3">Instructions</h3>
      <p class="lead">{{ recipes.instructions }}</p>
    </div>
  </div>
</div>

{% endblock %}{% block css %}
<link rel="stylesheet" href="{% static 'css/viewpage.css' %}" />
{% endblock %}
